body {
         background-image: url('images/dirty_old_shirt.png');
      }
      .container{
         /*border: solid black 1px; */
         width: 900px;
         margin:140px auto;
      }
      h1 {
         text-align: center;
         margin-bottom: 50px;
         font-family: 'Herr Von Muellerhoff', cursive;
         font-size: 78px;
         color: #5CCDC9;
      }
      .pic {
         width: 293px;
         height: 300px;
         border: solid #006561 1px;
         border-radius: 10px;
         display: inline-block;
         /*overflow: hidden;*/
      }
      .description {
         z-index: -1;
         position: absolute;
         font-family: 'Source Sans Pro', sans-serif;
      }
      .description p , .description h1{
         width: 240px;
         text-align: center;
         color: #5CCDC9;
         margin-left: 30px;
      }
      .description h1{
         font-size: 40px;
         margin-bottom: 20px;
      }
      .description p {
         font-size: 18px;
      }
      .picture {
         background-size: cover;
         height: 300px;
         background-position: center;
         transition: all .5s;
         border-radius: 5px;

      }
      .left:hover > .picture{
         opacity:.5;
         transition: all .3s;
         -webkit-transform: translateX(-300px) translateY(0px)

      }
      .middle:hover > .picture{
         opacity:.9;
         transition: all .3s;
         -webkit-transform: translateX(0px) translateY(-300px)
      }
      .right:hover > .picture{
         opacity:.5;
         transition: all .3s;
         -webkit-transform: translateX(300px) translateY(0px)
      }
 /*   var. 1 = #009B95 = rgb(0,155,149)
   var. 2 = #1D7471 = rgb(29,116,113)
   var. 3 = #006561 = rgb(0,101,97)
   var. 4 = #33CDC7 = rgb(51,205,199)
   var. 5 = #5CCDC9 = rgb(92,205,201)*/
         
